table(align="center" width="100%" style="border-collapse:collapse;padding:0;background:#F5F7F8; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#666" bgcolor="#F5F7F8")
  tbody
    tr
      td(align="center" style="padding:40px 0 20px;")
        table(align="center" style="border-collapse:collapse;padding:0;max-width:700px;" width="80%")
          tbody
            tr
              td(style="padding-left: 5px;text-align: left")
                img(style="font-size:14px; color: #000" src="/assets/img/logo-email.png" width="160" alt="SeuCondominio.com.br" title="SeuCondominio.com.br")
              td(style="padding-right: 5px;text-align: right")
                img(style="font-size:14px; color: #000" src="https://scdevelopment.s3.amazonaws.com/paperclip/gerenciar/cd/pessoas_juridicas/logos/000/000/001/p.png?1449680959" height="55")
    tr
      td(align="center" style="padding-bottom: 30px")
        table(align="center" style="border-collapse:collapse;padding:0;border:1px solid #e1e5e6;max-width:700px;background:#FFFFFF" bgcolor="#FFFFFF" width="80%")
          tbody
            tr
              td(align="center" style="padding:40px 10px")
                table(align="center" width="90%" style="border-collapse:collapse;padding:0")
                  tbody
                    tr
                      td
                        //- div(ng-include="'templates/cobranca.html'")
                        div(ng-include="'templates/ocorrencia.html'")
    tr
      td(style="padding:10px 0 20px")
        table(align="center" style="border-collapse:collapse;padding:0;width:100%")
          tbody
            tr
              td(style="text-align:center;color:#888;padding-bottom:30px")
                div(style="font-size: 16px; font-weight: 100;") Contrate este Sistema
                div(style="font-size: 14px; font-weight: 100;") +55 (62) 3142-9759
                div(style="font-size: 14px; font-weight: 100;")
                  a(style="color:#6AADE6" href="http://www.seucondominio.com.br") www.seucondominio.com.br
            //- tr
              td(style="text-align:center;color:#888;padding-bottom:30px")
                div(style="font-size: 16px; font-weight: 100;") Representante Comercial
                div(style="font-size: 14px; font-weight: 100;") Darth Vader - (62) 8125-0809 - dev@seucondominio.com.br
                div(style="font-size: 14px; font-weight: 100;")
                  a(style="color:#6AADE6" href="http://www.seucondominio.com.br") www.seucondominio.com.br
            tr
              td(style="padding-bottom:50px")
                div(style="font:300 12px/17px Helvetica Neue,Helvetica,Arial;color:#888;text-align:center;margin:0;padding:0 10%")
                  | Não responda esse e-mail.
                  br
                  | Caso não queira mais receber estes emails notifique o síndico.

