table
  tbody
    tr
      td(style='width: 100%')
        span
          div(style='  font-size: 22px; font-weight: 300; line-height: 30px;')
            span Cobranças Criadas: Rateio de Janeiro
          span(style='')
            div
              span Condomínio:
              span(style='color: #6AADE6')  Condomínio Residencial Teste
            div
              span Administradora:
              span(style='color: #6AADE6')  Grupo Condhor
      td(style='padding-right:10px')
        img(src='http://localhost:3000/assets/icones/m/300.png', height='50px', alt='')
