table(cellspacing='0', cellpadding='0', border='0', width='100%')
  tbody
    tr
      td(width='100%', height='15', style='font-size: 1px; line-height: 15px;')  
table
  tbody
    tr
      td(style='padding-right:10px')
        img(src='http://localhost:3000/assets/icones/m/76.png', height='89px', alt='')
      td
        span(style='color: #444')
          div(style='font-size:18px; line-height: 26px')
            b Nova ocorrência de Reclamação
          span(style='font-size:15px; line-height: 26px')
            div
              b Condomínio:
              span(style='color: #516C7F')  Condomínio Residencial Teste
            div
              b Administradora:
              span(style='color: #516C7F')  Grupo Condhor
div(style='clear:both')
table(width='100%', cellpadding='0', cellspacing='0', border='0', style='margin: 30px auto;')
  tbody
    tr
      td
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(valign='top', width='100%', style='font-size:15px;line-height:19px; background:#ecf2f5;padding:27px;border: 1px solid #D1DEE4;')
                table
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Titulo
                    td(style="")
                      span  Excesso de Barulho
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Situação
                    td(style="")
                      span  Aberta
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Tipo
                    td(style="")
                      span  Reclamação
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Autor
                    td(style="")
                      span  Darth Vader
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Residência
                    td(style="")
                      span  Bloco 1 - 101
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Criado por
                    td(style="")
                      span  Darth Vader
                  tr
                    td(style="text-align:right;padding-right:10px")
                      b Data da Ocorrência
                    td(style="width:50%")
                      span  11/12/2015 às 14:07 - Sexta
p(align='center', style='font-size: 25px;') Apartamento fazendo barulho
div
  div
    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='')
      tbody
        tr
          td
            table(style='background-color:#6AADE6; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto;', cellpadding='0', border='0', cellspacing='0')
              tbody
                tr
                  td(style='padding:5px')
                    a(href='http://localhost:3000//gerenciar/cd/1/12-2015/ocorrencias?registro_id=2&_notificacao_id=56684e363938390001010000', style='color:#FFF;text-decoration:none;padding:5px 13px;font-size:16px;display:block', target='_blank')
                      | Acessar a ocorrência
div(style='text-align: center; margin-top: 1em; margin-bottom: 1em;')
  a(href='http://localhost:3000/gerenciar/cd/1/12-2015/ocorrencias/participantes/1144a15fb998e0c545135e9aeecda7d9502bd23f38f423a74e208a43e3752025367e79d5ee7cc74e7d7685c7b135594f8d614a58beb6418a96c031c7b4a57d5e/cancel_feed') Não desejo receber mais notificações
