table
  tbody
    tr
      td(style="width:100%")
        span
          div(style='  font-size: 22px; font-weight: 300; line-height: 30px;')
            span Nova ocorrência de Reclamação
          span(style='')
            div
              span Condomínio:
              span(style='color: #6AADE6')  Condomínio Residencial Teste
            div
              span Administradora:
              span(style='color: #6AADE6')  Grupo Condhor
      td(style='padding:20px 10px 0 0')
        img(src='http://localhost:3000/assets/icones/m/78.png', height='50', alt='')
div(style='clear:both')
table(width='100%', cellpadding='0', cellspacing='0', border='0', style='margin: 30px auto 30px;')
  tbody
    tr
      td
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(valign='top', width='100%', style='font-size:15px;line-height:19px; background:#F0F3F5;padding:27px;border: 1px solid #E1E5E6;')
                div(style="line-height:26px")
                  b Titulo:
                  span  Excesso de Barulho
                div(style="line-height:26px")
                  b Situação:
                  span  Aberta
                div(style="line-height:26px")
                  b Tipo:
                  span  Reclamação
                div(style="line-height:26px")
                  b Autor:
                  span  Darth Vader
                div(style="line-height:26px")
                  b Residência
                  span  Bloco 1 - 101
                div(style="line-height:26px")
                  b Criado por:
                  span  Darth Vader
                div(style="line-height:26px")
                  b Data da Ocorrência:
                  span  11/12/2015 às 14:07 - Sexta
                div(style="line-height:26px")
                  b Descrição:
                  span  Às 3hs o morador começou brigar com a esposa e ficaram discutindo a madrugada toda. Tentei resolver e não consegui. às 3hs o morador começou brigar com a esposa e ficaram discutindo a madrugada toda. Tentei resolver e não consegui.às 3hs o morador começou brigar com a esposa e ficaram discutindo a madrugada toda. Tentei resolver e não consegui.às 3hs o morador começou brigar com a esposa e ficaram discutindo a madrugada toda. Tentei resolver e não consegui.às 3hs o morador começou brigar com a esposa e ficaram discutindo a madrugada toda. Tentei resolver e não consegui.

table(width='100%', cellpadding='0', cellspacing='0', border='0', style='padding: 20px 10px 60px;')
  tbody
    tr
      td
        p(align='center', style='font-size: 22px;padding: 20px 0;margin: 0;') Acompanhamento
        div(style="padding: 20px 10px 15px; border-bottom: 1px dashed #D1D1D1;")
          strong Darth Vader:
          | Tentei resolver e não consegui.
          div(style="text-align: right; padding: 5px 0 0; color: #999; font-size:12px;") 11/12/2015 16:37:38

        div(style="padding: 20px 10px 15px; border-bottom: 1px dashed #D1D1D1;")
          strong Darth Vader:
          |  Síndico já conversou com os dois e resolveu o problema
          div(style="text-align: right; padding: 5px 0 0; color: #999; font-size:12px;") 11/12/2015 16:21:15

        div(style="padding: 20px 10px 15px; border-bottom: 1px dashed #D1D1D1;")
          strong Darth Vader:
          | Tentei resolver e não consegui.
          div(style="text-align: right; padding: 5px 0 0; color: #999; font-size:12px;") 11/12/2015 16:37:38

        div(style="padding: 20px 10px 15px; border-bottom: 1px dashed #D1D1D1;")
          strong Darth Vader:
          |  Síndico já conversou com os dois e resolveu o problema
          div(style="text-align: right; padding: 5px 0 0; color: #999; font-size:12px;") 11/12/2015 16:21:15

table(width='100%', cellpadding='0', cellspacing='0', border='0', style='')
  tbody
    tr
      td
        table(style='background-color:#6AADE6; border-radius: 4px; margin-top: 0px; margin-bottom: 10px; margin-left: auto; margin-right: auto;', cellpadding='0', border='0', cellspacing='0')
          tbody
            tr
              td(style='padding:5px')
                a(href='http://localhost:3000//gerenciar/cd/1/12-2015/ocorrencias?registro_id=2&_notificacao_id=56684e363938390001010000', style='color:#FFF;text-decoration:none;padding:5px 13px;font-size:16px;display:block', target='_blank')
                  | Acessar a ocorrência
div(style='text-align: center; margin-top: 1em; margin-bottom: 0;')
  a(style="color:#6AADE6" href='http://localhost:3000/gerenciar/cd/1/12-2015/ocorrencias/participantes/1144a15fb998e0c545135e9aeecda7d9502bd23f38f423a74e208a43e3752025367e79d5ee7cc74e7d7685c7b135594f8d614a58beb6418a96c031c7b4a57d5e/cancel_feed') Não desejo receber mais notificações
