
table(cellspacing='0', cellpadding='0', border='0', width='100%')
  tbody
    tr
      td(width='100%', height='15', style='font-size: 1px; line-height: 15px;')  
table
  tbody
    tr
      td(style='padding-right:10px')
        img(src='http://localhost:3000/assets/icones/m/76.png', height='89px', alt='')
      td
        span(style='color: #444')
          span(style='font-size:18px')
            b Nova ocorrência de Reclamação
          br
          span(style='font-size:15px; line-height: 26px;')
            b Condomínio:
            span(style='color: #516C7F')  Condomínio Residencial Teste
            br
            b Administradora:
            span(style='color: #516C7F')  Grupo Condhor
            br
div(style='clear:both')
table(width='100%', cellpadding='0', cellspacing='0', border='0', style='')
  tbody
    tr
      td(width='1.5%')
      td(width='97%')
        table(cellspacing='0', cellpadding='0', border='0', width='100%')
          tbody
            tr
              td(width='100%', height='15', style='font-size: 1px; line-height: 15px;')  
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(valign='top', width='100%', style='font-size:15px;line-height:19px; background:#ecf2f5;padding:7px;border: 1px solid #D1DEE4;')
                p
                  b Titulo:
                  |  Excesso de Barulho
                p
                  b Situação:
                  |  aberta
                p
                  b Tipo:
                  |  Reclamação
                p
                  b Autor:
                  |  Darth Vader
                p
                  b Residência
                  |  Bloco 1 - 101
                p
                  b Criado por:
                  |  Darth Vader
                p
                  b Data da Ocorrência:
                  |  11/12/2015 às 14:07 - Sexta
      td(width='1.5%')
p(align='center', style='font-size: 25px;')
  b Apartamento fazendo barulho
div(style='text-align: center')
  div(style='text-align: left')
    table(width='100%', cellpadding='0', cellspacing='0', border='0', style='')
      tbody
        tr
          td(width='1.5%')
          td(width='97%')
            table(cellspacing='0', cellpadding='0', border='0', width='100%')
              tbody
                tr
                  td(width='100%', height='15', style='font-size: 1px; line-height: 15px;')  
            table(style='background-color:green; margin-top: 0px; margin-bottom: 10px; margin-left: auto; margin-right: auto;', cellpadding='0', border='0', cellspacing='0')
              tbody
                tr
                  td(width='1', height='1', style='background-color:#fff')
                  td
                  td(width='1', height='1', style='background-color:#fff')
                tr
                  td
                  td(style='padding:5px')
                    a(href='http://localhost:3000/gerenciar/cd/1/12-2015/ocorrencias?registro_id=1', style='color:#FFF;text-decoration:none;padding:5px 13px;font-size:16px;display:block', target='_blank')
                      | Acessar a ocorrência
                  td
                tr
                  td(width='1', height='1', style='background-color:#fff')
                  td(style='background-color:#4e6f8A')
                  td(width='1', height='1', style='background-color:#fff')
          td(width='1.5%')
div(style='text-align: center; margin-top: 1em; margin-bottom: 1em;')
  a(href='http://localhost:3000/gerenciar/cd/1/12-2015/ocorrencias/participantes/2f54b14f76b0210605fb77afc29bc11cd7fa5bd108892b6e4ca46938a0f6178d083de92e3032c17455ffd8998bbff6f35700d32ddb105b95b1124da31825f20e/cancel_feed', style='color: red;') Não desejo receber mais notificações
